.Home {
  color: rgb(27, 240, 8);
  font-size: xx-large;
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2017/12/26/21/19/tech-3041437_960_720.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.particles {
  width: 100vw;
  /* height: 100%; */
  z-index: -1;
}

.typewriter {
  z-index: 3;
  font-size: 40px;
  margin-left: 20%;
  position: absolute;
  top: 45%;
  color: rgb(247, 5, 29);
}

.sound {
  z-index: 2;
  position: absolute;
  top: 87%;
  left: 10px;
}
