@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.Navbar {
  width: 100vw;
  height: 55px;
  border-bottom: 1px solid rgb(2, 212, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: rgb(7, 200, 248);
  font-family: "Lobster", cursive;
  z-index: 99;
  /* position: fixed; */
  text-align: center;
}

#Nav__Text {
  font-size: medium;
  font-family: "Lobster", cursive;
}

a {
  color: rgb(7, 200, 248);
  text-decoration: none;
  font-size: medium;
}

a:hover {
  color: rgb(7, 248, 39);
}

.Nav__Left {
  width: 25%;
}

.Nav__Center {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.Nav__Right {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
}

.Nav__Option:hover {
  border-bottom: 2px solid red;
}
